body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  background: red;
  width: 20px;
  height: 20px;
  /*border:10px solid red;*/
  position:absolute;
  -webkit-transition: all .2s linear;
}

.circle{
  border-radius: 50%;
}

.square{
  border-radius: 0px;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid red;
  background: transparent;
}